version: 2.1

jobs:
  test:
    machine:
      image: ubuntu-2204:current
    steps:
      - checkout
      - run:
          name: Install Go
          command: |
            GO_VERSION=1.25.5
            curl -LO https://go.dev/dl/go${GO_VERSION}.linux-amd64.tar.gz
            sudo rm -rf /usr/local/go
            sudo tar -C /usr/local -xzf go${GO_VERSION}.linux-amd64.tar.gz
            echo 'export PATH=$PATH:/usr/local/go/bin' >> $BASH_ENV
      - run:
          name: Run Go tests
          command: go test -v -timeout 15m ./...

workflows:
  test:
    jobs:
      - test:
          context:
            - GITHUB__PAT__gruntwork-ci
